*{
    box-sizing: border-box;
}
body{
font-family: 'Work Sans', sans-serif;
font-style: normal;
}
/* Nav Design */
nav{
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    
}
.nav-container{
    display: flex;
    max-width: 1000px;
    min-height: 50px;
    margin: 0 auto;
}

.logo-container{
    display: flex;
    align-items: center;
    width: 50%;
    gap: 10px;
}
.logo-container img{
    width: 70px;
    height: 35px;   
}
.logo-container p{
    font-size: 35px;
    font-weight: 700;
}
.game{
    color: #FF42A5;
}

.nav-item-container{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-item-container a{
    text-decoration: none;
    color:  #3C354F;
    font-weight: 500;
    font-size: 12px;
    margin-left: 40px;
}
.click-btn{
    padding:5px 20px ;
    border-radius: 8px;
    background: rgba(11, 2, 35, 0.10); 
}
.click-btn .icon{
  width: 20px;
  height: 10px;
 }


 /*start banner section */
 main{
    max-width: 1000px;
    margin: 0 auto;
 }
 .banner-section{
    display: flex;
    justify-content: space-between;
    align-items: center;
 } 
.banner-content{
  
    width: 50%;
    
}


 .banner-title{
    margin-bottom:-40px;
    color: #0B0223;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
 }
 .banner-designed-text{
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 10px;
 }
 .banner-content p{
    color: #534C64;
    font-size: 15px;
    font-weight: 500;
    text-transform: lowercase; 
 }
 .icon-text{
    display: flex;
    gap: 5px;
 }

 .banner-img{
    width: 500px;
    height: 500px;
 }
 .btn-primary{
    display: inline-flex;
    padding: 12px 30px;
    border-color:#FFFFFF;
    gap: 10px;
    border-radius: 48px;;
    background: var(--linear, linear-gradient(90deg, #FF42A5 0%, #FF42A5 100%));
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
 }
 .btn-primary2{
    padding: 12px 30px;
    gap: 10px;
    border-radius: 48px;
    background: #4EC5F7;
    border-color:#FFFFFF;
    color: #FFF;
    font-size: 10px;
    font-weight: 600;
    text-transform: uppercase;
 }
 /* start funny video design */
 .funny-video{
    max-width: 1000px;
    margin: 0 auto;
 }
 .funny-video-content{
    text-align: center;
 }
 h2{
    color: #0B0223;
    font-size: 30px;
    font-weight: 700;
 }

 h6{
color: #534C64;
font-size: 12px;
font-weight: 400;
 }
 h2 .span-text{
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: 700;
 }
 .funny-video-img{
    display:flex;
    gap: 20px;
    justify-content: center;
 }
 .funny-video-img img{
    width: 235px;
    height: 270px;
 }
 .funny-video-block{
    display: block;
    font-size: 15px;
    color: #534C64;
    font-weight: 500;
 }
 .funny-video-block .hover-img:hover{
    
 }
 /* start play instant design */
 .play-instant{
    margin-top: 50px;
    display: flex;
    justify-content:space-between ;
    
 }
 .play-instant-content{
   margin-top: 120px;
   margin-left: 130px;
    text-align: right;
    color: #0B0223;
    font-size: 30px;
    font-weight: 700;
 
}
 .play-instant-content  p{
    color: #534C64;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
  
 }
 .play-instant-img img{
   width: 460px;
   height: 480px;
   margin-bottom: 10px;
 }
 .play-instant-img2 img{
    width: 220px;
    position: relative;
    right: 110px;
    bottom:200px ;
    height: 250px;
   }